@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- !! TAILWIND CSS !! ---- */

/* --- // HEADINGS // ---- */
.heading-1 {
  @apply caveat-bold text-4xl font-bold;
}

.heading-2 {
  @apply caveat-bold text-3xl;
}

.heading-3 {
  @apply text-2xl font-bold;
}

.heading-4 {
  @apply text-xl font-bold;
}

.paragraph {
  @apply raleway-light text-base font-normal;
}

.small-text {
  @apply text-sm font-normal;
}

/* --- // LAYOUT // ---- */

/* This will help get you left/right margins to center your content */
.container {
  @apply mx-auto px-4;
}

.custom_flex {
  @apply flex items-center justify-center;
}

/* --- // BUTTONS // ---- */

/* Primary Button */

@layer components {
  .primary_button {
    @apply raleway-light rounded-lg px-4 py-2 text-white;
  }

  /* Secondary Button */
  .secondary_button {
    @apply raleway-light rounded-lg px-4 py-2;
  }
}

/* --- YOUR MANUAL CSS GOES HERE ---- */

/* FONTS */

.caveat-bold {
  font-family: 'Caveat', cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.raleway-light {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Default Browser styling override */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  height: 135px;
}

/*Hover urgently Status*/

.name-container {
  display: flex;
  align-items: center;
}

.name {
  display: flex;
  align-items: center;
}

.card-urgently-status {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
}

/* Custom Button Class */
.custom-button {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: #dc2626;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: #ffffff;
  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.05),
    0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out;
}

.custom-button:hover {
  background-color: #ef4444;
}

.custom-svg {
  background-color: rgb(254 226 226);
}

/* Responsive styling for small screens */
@media (min-width: 640px) {
  .custom-button {
    margin-left: 0.75rem;
    width: auto;
  }
}
